body{
  margin:0;
  padding:0;
}
.greenzone{
  height: 1vh;
  background-color: #2ecc71;
}
/*Header*/
#fond1{
  position:relative;
  height: 100%;
  padding: 5%;
  padding-bottom: 0%;
  column-count: 12;
  background-image:url("PNG/Header/img.png");
  background-position: center;
  background-size: cover;
}
#header_main_div{
  width: 100%;
  padding: 1;
  background-color: #2ecc71;
}
#carte{
  color: #FFFFFF;
  width: 40rem;
  height: 30rem;
  border: none;
}
.divUnderCard{
  display: flex;
  flex-direction: row;
}
#notifyblock{
  width: 100%;
  margin: none;
}
header div h5{
  font-family: 'Pacifico', cursive;
  font-size:70px;
}
header div p{
  margin-top:50px;
  font-size:;
  font-family: Helvetica Neue, Arial, sans-serif;
}

header div ul{

}

.links{
  display:inline-block;
  margin-top:px;
  padding:30px;
}

#apple{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#apple:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#smart{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#smart:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#pc{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#pc:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#notifyblock{
    margin-left:230px;
    margin-top:50px;
}


/*features*/

#features{
 display: inline-flex;
 width: 100%;
}
.carta{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3%;
}
#features h5{
  font-family: 'Raleway SemiBold', arial;
  text-align:center;
  margin-bottom:50px;
}

#features p{
  color:#949494;
  text-align:center;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-bottom:25px;
}

/*Icônes animées*/

#gear{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration:infinite;
}

#star{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration:infinite;
}

#globe{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration: infinite;
}

@keyframes circle{
    from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotation {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  margin-top:50px;
  margin-bottom:20px;
}


/*Get Notified*/

#notifiedcontent{
  background-color:#e3e3e3;
  padding: 3%;
  display: inline-flex;
}
#notifiedInner{
  width: 50%;
  display: flex;
  flex-direction: column;
}
#imgcontainer{
  margin: auto;
}
.notifiedImg{
  width: 30rem;
}
/*portraits aligné-animation*/

#visages li{
    transition-duration:0.3s;
    filter:grayscale(1);
    opacity:0.75;
}

#visages li:hover{
    transition-duration:0.3s;
    opacity:1;
    filter:grayscale(0);
}


/*icones liens alignés*/

#sayhi svg{
       height:50px;
       width:50px;
       fill:#d4d4d4;
       transition-duration:0.5s;
}

#sayhi svg:hover{
    height:60px;
    width:60px;
    fill:#2ecc71;
}

#thefooter{
    display:inline-block;
}

#thefooter a{
    color:#9d9d9d;
    transition-duration:0.2s;
}
#thefooter a:hover{
    text-decoration:none;
    color:black;
    transition-duration:0.2s;
}
