@font-face {
  font-family: Book;
  src: url("./fonts/Syabil-Book.ttf");
}
body{
  margin: 0;
  padding: 0;
}
.greenzone{
  height: 1vh;
  background-color: #2ecc71;
}
/*Header*/
#fond1{
  height: 50vh;
  padding-bottom: 15%;
  background-image:url("PNG/Header/img.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#titre{
  margin:0px;
  color: white;
}
#fondp{
  color: white;
  margin-top: 6%;
}
.links{
  width: 40vw;
  padding: 0%;
  display: table;
}
.companybtn{
  padding: 1.5%;
  margin-right: 2%;
  border: none;
  border-radius: 100%;
  background-color: rgba(13, 13, 13, 0.5);
  outline: none;
}
.companybtn:hover{
  background-color: #2ecc71;
}
#header_main_div{
  width: 100%;
  padding: 1;
  background-color: #2ecc71;
}
#carte{
  color: #FFFFFF;
  width: 40rem;
  height: 30rem;
  border: none;
}
#notifyblock{
  margin-left: 0px;
}
header div h1{
  font-family: 'Pacifico', cursive;
  font-size:70px;
}
header div p{
  margin-top:50px;
  font-size:;
  font-family: Helvetica Neue, Arial, sans-serif;
}

header div ul{

}

.links{
  display:inline-block;
  margin-top:px;
  padding:30px;
}

#apple{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#apple:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#smart{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#smart:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#pc{
    transition-duration:0.5s;
    height:50px;
    width:50px;
    fill:white;
}
#pc:hover{
    transition-duration:0.4s;
    height:55px;
    width:55px;
    fill:#2ecc71;
}

#notifyblock{
    margin-left:230px;
    margin-top:50px;
}
#bottoneX{
  display: none;
}

/*features*/

#features{
 display: inline-flex;
 width: 100%;
 font-family: Book;
}
.carta{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3%;
}
#features h5{
  font-family: Book;
  font-size: 1.5rem;
  text-align:center;
  margin-bottom:50px;
}

#features p{
  color:#949494;
  text-align:center;
  font-family: Book;
  margin-bottom:25px;
}

/*Icônes animées*/

#gear{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration:infinite;
}

#star{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration:infinite;
}

#globe{
    height:55px;
    width:55px;
    fill:#2ecc71;
    animation-name: circle;
    animation-duration: infinite;
}

@keyframes circle{
    from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotation {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  margin-top:50px;
  margin-bottom:20px;
}


/*Get Notified*/

#notifiedcontent{
  background-color:#e3e3e3;
  padding: 3%;
  display: inline-flex;
}
#notifiedInner{
  width: 50%;
  display: flex;
  flex-direction: column;
}
#imgcontainer{
  margin: auto;
}
.notifiedImg{
  width: 30rem;
}
/*portraits aligné-animation*/
#hunt{
  font-family: Book;
  text-align: center;
}
#visages{
  text-align: center;
  align-items: center;
  font-family: Book;
}
#vislist{
  display: inline-flex;
  margin: 0 auto;
  padding: 0%;
}
#visages li{
    transition-duration:0.3s;
    filter:grayscale(1);
    opacity:0.75;
    list-style-type: none;
}

#visages li:hover{
    transition-duration:0.3s;
    opacity:1;
    filter:grayscale(0);
}

#inputt{
  font-family: Book;
}

.form{
  width: 20rem;
  padding: 2%;
  font-size: 1rem;
  color: #e3e3e3;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-flex;
  outline: none;
}
.formbtn{
  padding: 2%;
  font-size: 1rem;
  background-color: #2ecc71;
  color: white;
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}
/*icones liens alignés*/
#saycontainer{
  text-align: center;
  font-family: Book;
  color:#949494;
}
#saycontainer p{
}
#sayhi svg{
       height:50px;
       width:50px;
       fill:#d4d4d4;
       transition-duration:0.5s;
}

#sayhi svg:hover{
    height:60px;
    width:60px;
    fill:#2ecc71;
}
.lista{
  display: inline-flex;
  list-style-type: none;
}
#thefooter{
    display:inline-block;
    width: 100%;
    text-align: center;
    ;font-family: Book;
}

#thefooter a{
    color:#9d9d9d;
    transition-duration:0.2s;
}
#thefooter a:hover{
    text-decoration:none;
    color:black;
    transition-duration:0.2s;
}
#innerfooter{
  display: inline-flex;
}
#innerfooter a{
  text-decoration: none;
}
#innerfooter li{
  display: list-item;
  list-style-type:none;
}

















@media only screen and (max-width: 780px) {
  #fond1{
    padding: 0%;
  }
  #features{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #notifiedcontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .notifiedImg{
    width: 300px;
  }
  .form{
    display: none;
  }
  #bottoneX{
    display: block;
    background-color:  #2ecc71;
    color: white;
    border-radius: 10px;
    padding: 3%;
    border: none;
  }
  .listphotofull{
    display: block;
    text-align: center;
    align-items: center;
  }
  #vislist{
    display: none;
  }
.carta{
  grid-column: 12;
    padding: 0%;
  }
}
